[submodule "compilers/msvc420"]
	path = compilers/msvc420
	url = https://github.com/itsmattkc/MSVC420
[submodule "wibo-src"]
	path = wibo-src
	url = https://github.com/neuromancer/wibo
[submodule "binary-comp"]
	path = binary-comp
	url = https://github.com/gg-sl-oss/binary-comp
